---
import { Image } from "astro:assets";
import template1 from "@assets/templates/400w-0xJ9KktCVVQ.webp";
import template2 from "@assets/templates/400w-hC2k9yY3bZs.webp";
import { Button } from "./button";
---

<h2 class="text-2xl font-bold my-4">Plantillas para dise침ar de todo</h2>
<p class="mb-8">Personaliza una plantilla de negocios o dise침a algo m치s personal, como una invitaci칩n.</p>

<article class="grid grid-cols-2 gap-4">
    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template1}
            alt="template1"
            class="rounded-lg border"
         />
    </div>

    <div>
        <Image
            width={150}
            height={150}
            src={template2}
            alt="template2"
            class="rounded-lg border"
         />
    </div>

</article>

<div class="w-full mt-4">
    <Button class="w-full" variant="outline">Explora todas las plantillas</Button>
</div>