---
import { Image } from "astro:assets";

import hubspot from "@assets/hubspot-light-theme.webp";
import sonyMusic from "@assets/sony-light-theme.webp";
import salesForce from "@assets/salesforce-light-theme.webp";
import skyscanner from "@assets/skyscanner-light-theme.webp";
import reddit from "@assets/reddit-light-theme.webp";
import danone from "@assets/danone-light-theme.webp";
---

<ul class="flex justify-center flex-wrap items-center">
  <li class="p-4">
    <Image alt="hubspot" width={111} height={48} src={hubspot} format="avif" />
  </li>

  <li class="p-4">
    <Image alt="hubspot" width={175} height={48} src={sonyMusic} format="avif" />
  </li>

  <li class="p-4">
    <Image alt="hubspot" width={69} height={48} src={salesForce} format="avif" />
  </li>

  <li class="p-4">
    <Image alt="hubspot" width={192} height={48} src={skyscanner} format="avif" />
  </li>

  <li class="p-4">
    <Image alt="hubspot" width={94} height={48} src={reddit} format="avif" />
  </li>

  <li class="p-4">
    <Image alt="hubspot" width={101} height={48} src={danone} format="avif" />
  </li>
</ul>
